---
import data from '../../config/Features.json'
---

<h1 class="text-center font-bold text-5xl mt-10">Features</h1>

<div class="grid md:grid-cols-3 gap-4 p-4">
    {
      data.map((data) => (
        <div class="bg-indigo-400 p-10 rounded-xl">
          <h2 class=" text-center text-2xl font-bold my-4">{data.title}</h2>
          <p class="text-center">{data.description}</p>
        </div>
      ))
    }
  </div>